<%= simple_form_for team, url: team_path(team.id), method: :PATCH do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="row">
      <div class="col-12 offset-sm-2 col-sm-8">
          <%= f.input :name, label: false, placeholder: "Nombre" %>
      </div>
  </div>

  <div class="row">
    <div class="col-12 offset-sm-2 col-sm-8">
      <%= f.association :users, label: false, collection: User.all.map { |u| [u.username, (u.id)] }, input_html: { class: 'add-chosen', :data => { :placeholder => 'Seleccionar usarios'} } %>
    </div>
  </div>

  <div class="row">
      <div class="col-12 offset-sm-2 col-sm-8">
          <%= f.button :submit, "Salvar", class: "btn btn-primary btn-block" %>
      </div>
  </div>
<% end %>
