<%= simple_form_for team do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="row">
      <div class="col-12 offset-sm-2 col-sm-8">
          <%= f.label "Editar Nombre" %>
          <%= f.input :name, label: false, placeholder: "Nombre" %>
      </div>
  </div>

  <div class="row">
    <div class="col-12 offset-sm-2 col-sm-8">
      <%= f.label "Editar Usuarios" %>
      <%= f.association :users, label: false, collection: User.all.map { |u| [u.username, (u.id)] }, input_html: { class: 'add-chosen', :data => { :placeholder => 'Seleccionar usarios'} } %>
    </div>
  </div>

  <div class="row">
    <div class="col-6 col-sm-4 offset-sm-2">
      <%= link_to team, class: "btn btn-secondary btn-block" do %>
        Regresar
      <% end %>
    </div>
    <div class="col-6 col-sm-4">
      <%= f.button :submit, "Salvar", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
