<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#C50001"/>

    <title>Secretaría de Educación</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Lighthouse Details -->
    <link rel="manifest" href="/manifest.json">
    <script src="https://kit.fontawesome.com/<%= ENV["font_awesome_key"] %>.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="wrapper">
      <%= render "shared/side_navbar" %>
      <div id="content">
        <%= render "shared/top_navbar" %>
        <%= flash_messages %>
        <%= yield %>
      </div>
     </div>
  </body>
</html>
